.container {
  margin-top: 20px;
}
.mycard {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
}

.subtotalRow {
  padding-bottom: 1.5em;
}

.totalRow {
  padding-bottom: 1em;
}

.itemDetails {
  background-color: rgb(227, 229, 231);
  border-radius: 5px;
}
